<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mongo coode</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
   

</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10  text-white">

        <div class=" text-xl  text-blue-500 tracking-tighter mb-5 ">
            <a href="/read">reader users</a></div>

        <h1  class="text-2xl mb-5"> Create user</h1> 

        <form action="/create" method="post">
        <input class="px-5 py-3 border-2 mr-3 border-zinc-800 rounded-lg bg-transparent" type="text" name="name"  placeholder="Name">
        <input class="px-5 py-3 border-2 mr-3 border-zinc-800 rounded-lg bg-transparent" type="text" name="email" placeholder="email">
        <input class="px-5 py-3 border-2 mr-3 border-zinc-800 rounded-lg bg-transparent" type="text" name="image" placeholder="image url">
        <input class="px-5 py-3 border-2 mr-3 border-zinc-800 rounded-lg bg-blue-500" type="submit" value="Create User">
       </form>


    </div>
</body>
</html>